# Google Gemini API
# Obter em: https://makersuite.google.com/app/apikey
GEMINI_API_KEY=

GITHUB_OAUTH_CLIENT_ID=

GITHUB_OAUTH_CLIENT_SECRET=

JWT_SECRET=

DB_URL=jdbc:
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=
DB_DIALECT=

APP_COOKIE_DOMAIN=
APP_COOKIE_SECURE=
APP_COOKIE_SAME_SITE=
